
h1{
    text-align: center;
    color: #e63946;
}
.caja1{
    padding: 10px 5px 15px 3px;
    border: 1px solid #457b9d;
    margin: 30px;/*propiedad auto en margin para centrar*/
    background-color: #f1faee;
    max-width: 300px;
    max-height: 100%;
    /*outline: 10px solid #a8dadc;
    outline-offset: 10px;*/
    box-sizing: border-box;
}
.caja2{
    padding: 10px 5px 15px 3px;
    border: 1px solid #457b9d;
    margin: 20px;/*propiedad auto en margin para centrar*/
    background-color: #f1faee;
    max-width: 300px;
    max-height: 100%;
    /*outline: 10px solid #a8dadc;
    outline-offset: 10px;*/
    box-sizing: border-box;
}
/*p.interno{
    margin: inherit;
}*/
