/*@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sofia|Roboto& effect=shadow-multiple&isplay=swap');


h1{
    color: #ef476f;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #ced4da;
    font-family: 'Sofia', cursive;
}
.caja{
    padding: 5px;
    width: 40%;
    height: 80px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    float: left;
}
.caja.serif{
    background-color: #5a189a;
}
.fuente_times{
    font-family: 'Times New Roman', Times, serif;/*Las fuentes aveces no las puede reconocer el navegador, por lo cual es ideal utilizar varias para entender el funcionamiento y van en orden de izquierda a derecha*/
    font-style: italic;/*esto se usa para aplicar cursivas y de mas cosas*/
    font-variant: small-caps;/*hace que las primeras letras esten en mayusculas*/
    font-size: xx-small;/*valor por defecto de navegadores 16px*/
}
.fuente_georgia{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-variant: normal;
    font-size: 1.2em;/*16px/16= 1 em, 20px/16=2*/
}
.caja.sans-serif{
    background-color: #00b4d8;
    font-style: oblique;
}
.fuente_arial{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;/*se ponen mas angostas o gruesas las letras y esto es para dise;o de texto*/
    font-size: 3vw;/*esta es responsiva, osea que tiene en cuenta el ancho de la pantalla en el momento, w ancho, h alto y puede variar despues de la v|||*/
}
.fuente_verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.caja.monospace{
    background-color: #f15bb5;
}
.fuente_courier{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}
.caja.cursive{
    background-color: #ff8500;
}
.fuente_lucida{
    /*font-family: 'lucida handwriting', cursive;/*se cambio la primera lucida de sans por handwtriting, y siguio sin aplicarse, hay que buscar tipos de cursivas*/
    font-family: 'Neonderthaw', cursive;
}
.fuente_roboto{
    /*font-family:'Neonderthaw', cursive;
    font-style: normal;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 20px;
    /*font: font-style font-variant font-weight font-size/line-height font-family;*/
    font: italic small-caps bolder 20px/30px Neonderthaw, sans-serif;
}
.caja.roboto{
    background-color: yellowgreen;
}